@import '../color/color.scss';
$default-color: $gray-1;
@mixin Headline($size, $color: $default-color) {
    @if $size == large{
        font-size: 20px;
        line-height: 28px;
    }
    @else if $size == medium{
        font-size: 18px;
        line-height: 26px;
    }
    @else if $size == small{
        font-size: 16px;
        line-height: 24px;
    }
    font-weight: 600;
    color: $color;
}

@mixin Title($size, $color: $default-color) {
    @if $size == large{
        font-size: 18px;
        line-height: 26px;
    }
    @else if $size == medium{
        font-size: 16px;
        line-height: 24px;
    }
    @else if $size == small{
        font-size: 14px;
        line-height: 20px;
    }
    font-weight: 500;
    color: $color;
}

@mixin Label($size, $color: $default-color) {
    @if $size == large{
        font-size: 16px;
        line-height: 24px;
    }
    @else if $size == medium{
        font-size: 14px;
        line-height: 20px;
    }
    @else if $size == small{
        font-size: 12px;
        line-height: 16px;
    }
    font-weight: 500;
    color: $color;
}

@mixin Body($size, $color: $default-color) {
    @if $size == large{
        font-size: 16px;
        line-height: 24px;
    }
    @else if $size == medium{
        font-size: 14px;
        line-height: 20px;
    }
    @else if $size == small{
        font-size: 12px;
        line-height: 16px;
    }
    font-weight: 400;
    color: $color;
}