@import './reaction-btn.scss';

@import '~/common/style/index.scss';
@import './reaction-btn.scss';
$status-prefix-cls: #{$cui-prefix}-reaction-box;

.#{$status-prefix-cls}{
    display: flex;
    padding: 0 64px;
    float: left;
    flex-flow: wrap;
    gap: 4px 8px;
    margin-bottom: 16px;
    align-items: center;
    &-left{
        float: left;
    }
    &-right{
        float: right;
        // justify-content: flex-end;
        flex-direction: row-reverse
    }
    
}

.#{$cui-prefix}-reaction-icon{
    fill: $gray-6;
    &:hover {
        fill: $blue-5;
        cursor: pointer;
    }
}