@import '~/common/style/index.scss';

$emoji-prefix-cls: #{$cui-prefix}-emoji-container;

.#{$emoji-prefix-cls}{
    width: 260px;
}
.icon-container{
    margin: $margin-xs;
    cursor: pointer;
    line-height: 100%;
}
.cui-emoji-box{

    &>img{
        width: 25px;
        height: 25px;
    }
}

.icon-container-dark{
    
}