@import '~/common/style/index.scss';
$audio-prefix-cls: #{$cui-prefix}-message-audio;

.#{$audio-prefix-cls}{
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &-primary{
        .#{$audio-prefix-cls}-duration{
            color: $gray-98
        }
    }
    &-secondly{
        .#{$audio-prefix-cls}-duration{
            color: $font-color
        }
    }
    &-duration{
        direction: ltr;
        font-size: $font-size-lg;
        line-height: 24px;
    }
}
