@import '~/common/style/index.scss';
$contact-prefix-cls: #{$cui-prefix}-contactList;


.#{$contact-prefix-cls}{
    width: 100%;
    height: 100%;
    // flex: 1;
    display: flex;
    // width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 8px;
    box-sizing: border-box;
    background-color: $gray-95;
    &-content{
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        scrollbar-color: $gray-8 transparent;
    }

    &-dark{
        background-color: $gray-1;

        .#{$contact-prefix-cls}-content{
            scrollbar-color: $gray-4 transparent;
        }
    }
}