
@import '~/common/style/index.scss';
$chat-prefix-cls: #{$cui-prefix}-chat;

.#{$chat-prefix-cls}{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $component-background;
    &-messageList{
        flex: 1;
    }
}
