.button{
    margin: 10px;
}
.white{
    background-color: beige;
}
.black{
    background-color: black;
}
@import '../../component/style/index.scss';
$btn-primary-bg: red;
$btn-default-color: red;

.loadingBox{
    width: 400px;
    height: 250px;
    border: 1px solid red;
}