@import '../../../src/style/index.scss';
$empty-prefix-cls: #{$cui-prefix}-empty;

.#{$empty-prefix-cls}{
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: $gray-8;
    user-select: none;
}
