@import '~/common/style/index.scss';
$img-msg-prefix-cls: #{$cui-prefix}-message-img;

.#{$img-msg-prefix-cls}{
    max-width: 100%;
    overflow: hidden;
    // background-color: #fff;
    &+div{
        padding: 0 8px 8px;
    }
    img{
        width: 100%;
        display: block;
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
        border-radius: 16px;
        margin: auto;
        // width: -webkit-fill-available;
    }

    &-square{
        img {
            border-radius: 4px;
        }
    }
}

.message-image-preview-wrap{
    .cui-modal-body{
        padding: 0;
    }

    .message-image-big{
        width: 100%;
        display: block;
    }
}

