@import '../../../src/style/index.scss';

$status-prefix-cls: #{$cui-prefix}-message-base;

.#{$status-prefix-cls} {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: $font-color;
    order: 0;

    display: flex;
    align-items: flex-end;
    padding: 8px 0;
    box-sizing: border-box;
    padding: 0 24px;
    &-arrow{
        &.#{$status-prefix-cls}-left{
            .#{$status-prefix-cls}-content{
                &::before{
                    content: " ";
                }
            }
        }
        &.#{$status-prefix-cls}-right{
            .#{$status-prefix-cls}-content{
                &::after{
                    content: " ";
                }
            }
        }
    }


    &-left{
        direction: ltr;
        .#{$status-prefix-cls}-content{
            border-radius: 12px 16px 16px 4px;
            &::before{
                border: 6px solid transparent;
                border-right: 6px solid $blue-5;
                position: absolute;
                pointer-events: none;
                left: -11px;
                bottom: 8px;
            }
        }
    }
    &-right{
        direction: rtl;
        .#{$status-prefix-cls}-content{
            border-radius: 12px 16px 4px 16px;
            &::after{
                border: 6px solid transparent;
                border-left: 6px solid $blue-5;
                position: absolute;
                pointer-events: none;
                bottom: 8px;
                right: -11px;
            }
        }
    }
    &-box{
        max-width: 100%;
        overflow: hidden;
    }
    &-body{
        flex-grow: 0;
        display: flex;
        align-items: flex-end;
    }
    &-content{
        // flex: 1;
        margin: 0 8px 0 12px;
        padding: 8px 16px;
        gap: 10px;
        min-height: 24px;
        position: relative;
        /* color_primary/95 */
        background: $blue-5;
        color: $gray-98;
    }

    &-primary {
        .#{$status-prefix-cls}-content{
            background: $blue-5;
            color: $gray-98;
            &::before{
                border-right: 6px solid $blue-5;
            }
        }
    }
    &-secondly {
        .#{$status-prefix-cls}-content{
            background: $blue-95;
            color: $font-color;
            &::after{
                border-left: 6px solid $blue-95!important;
            }
            &::before{
                border-right: 6px solid $blue-95!important;
            }
        }
    }
    &-none {
        .#{$status-prefix-cls}-content{
            background: transparent;
            color: $font-color;
            &::before{
                border: none;
                content: "";
                position: absolute;
                pointer-events: none;
                left: 0px;
                bottom: 0px;
            }
        }
    }
    &-square{
        .#{$status-prefix-cls}-content{
            border-radius: 4px;
        }
    }
    &-info{
        margin-left: 12px;
        display: flex;
    }
    &-nickname{
        display: inline-block;
        height: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #5270AD;
    }
    &-time{
        display: inline-block;
        width: 106px;
        height: 16px;
        margin: 0 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $gray-7;
    }
}