@import '~/common/style/index.scss';
$chatroom-prefix-cls: #{$cui-prefix}-chatroom;
.#{$chatroom-prefix-cls}{
    background-color: $component-background;
    height: 100%;
    display: flex;
    flex-direction: column;
    // padding: 0 16px;
    color: $gray-1;
    p{
        height: 1px;
        background: $gray-9;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
}

.#{$chatroom-prefix-cls}-dark{
    background-color: $gray-1;
    color: $gray-98;
    p{
        background: $gray-2;
    }
}

.report-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}