@import '~/common/style/index.scss';
.icon-container{
    margin: $margin-xs;
    cursor: pointer;
    line-height: 100%;
}
.cui-emoji-box{

    &>img{
        width: 25px;
        height: 25px;
    }
}