@import '~/common/style/index.scss';
$moreAction-prefix-cls: #{$cui-prefix}-moreAction;

.#{$moreAction-prefix-cls} {
    padding: 0;
    margin: 0;
    display: grid;
    li{
        list-style: none;
        height: 36px;
        border-radius: 8px;
        padding: 0 $padding-xs;
        // line-height: 36px;
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        >div{
            margin-right: 8px;
        }
    }
    li:hover{
        /* color_neutral/95 */
        background-color: $gray-95;
    }
    .cui-li-dark:hover{
        background: $gray-2;
    }

    &-iconBox{
        width: 36px;
        height: 36px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
