@import '~/common/style/index.scss';

$scrollList-prefix-cls: #{$cui-prefix}-scrollList;

.#{$scrollList-prefix-cls} {
    height: 100%;
    overflow-y: auto;
    overflow-anchor: none;
    scrollbar-color: $gray-8 transparent;
    &-dark {
        scrollbar-color: $gray-4 transparent;
    }
}