@function adjusted-color($base-color, $percentage) {
    $hue: hue($base-color);
    $saturation: saturation($base-color);
    $lightness: lightness($base-color) + $percentage;
    $alpha: alpha($base-color);
  
    @return hsla($hue, $saturation, $lightness, $alpha);
}
  
$blue-base: hsla(203, 100%, 60%, 1);
$blue-1: adjusted-color($blue-base, -50%);
$blue-2: adjusted-color($blue-base, -40%);
$blue-3: adjusted-color($blue-base, -30%);
$blue-4: adjusted-color($blue-base, -20%);
$blue-5: adjusted-color($blue-base, -10%);
$blue-6: $blue-base;
$blue-7: adjusted-color($blue-base, 10%);
$blue-8: adjusted-color($blue-base, 20%);
$blue-9: adjusted-color($blue-base, 30%);
$blue-95: adjusted-color($blue-base, 35%);
$blue-98: adjusted-color($blue-base, 38%);
$blue-10: adjusted-color($blue-base, 40%);


$green-base: hsla(155, 100%, 60%, 1);
$green-1: adjusted-color($green-base, -50);
$green-2: adjusted-color($green-base, -40);
$green-3: adjusted-color($green-base, -30);
$green-4: adjusted-color($green-base, -20);
$green-5: adjusted-color($green-base, -10);
$green-6: $green-base;
$green-5: adjusted-color($green-base, 10);
$green-5: adjusted-color($green-base, 20);
$green-5: adjusted-color($green-base, 30);
$green-5: adjusted-color($green-base, 40);


$red-base: hsla(350, 100%, 60%, 1);
$red-1: adjusted-color($red-base, -50);
$red-2: adjusted-color($red-base, -40);
$red-3: adjusted-color($red-base, -30);
$red-4: adjusted-color($red-base, -20);
$red-5: adjusted-color($red-base, -10);
$red-6: $red-base;
$red-7: adjusted-color($red-base, 10);
$red-8: adjusted-color($red-base, 20);
$red-9: adjusted-color($red-base, 30);
$red-10: adjusted-color($red-base, 40);


$gray-base: hsla(203, 8%, 60%, 1);
$gray-1: hsla(203, 8%, 10%, 1);
$gray-2: hsla(203, 8%, 20%, 1);
$gray-3: hsla(203, 8%, 30%, 1);
$gray-4: hsla(203, 8%, 40%, 1);
$gray-5: hsla(203, 8%, 50%, 1);
$gray-6: $gray-base;
$gray-7: hsla(203, 8%, 70%, 1);
$gray-8: hsla(203, 8%, 80%, 1);
$gray-9: hsla(203, 8%, 90%, 1);
$gray-95: hsla(203, 8%, 95%, 1);
$gray-98: hsla(203, 8%, 98%, 1);
$gray-10: hsla(203, 8%, 100%, 1);


$special-base: hsla(220, 36%, 60%, 1);
$special-1: hsla(220, 36%, 10%, 1);
$special-2: hsla(220, 36%, 20%, 1);
$special-3: hsla(220, 36%, 30%, 1);
$special-4: hsla(220, 36%, 40%, 1);
$special-5: hsla(220, 36%, 50%, 1);
$special-6: $special-base;
$special-7: hsla(220, 36%, 70%, 1);
$special-8: hsla(220, 36%, 80%, 1);
$special-9: hsla(220, 36%, 90%, 1);
$special-10: hsla(220, 36%, 100%, 1);