// $moreAction-prefix-cls: #{$cui-prefix}-moreAction;

// .#{$moreAction-prefix-cls} {
//     padding: 0;
//     margin: 0;
//     display: grid;
//     li{
//         list-style: none;
//         height: 36px;
//         border-radius: 8px;
//         padding: 0 $padding-xs;
//         line-height: 36px;
//         cursor: pointer;
//     }
//     li:hover{
//         /* color_neutral/95 */
//         background-color: $gray-95;
//     }
// }
// .icon-container{
//     margin: $margin-xs;
//     cursor: pointer;
//     line-height: 100%;
// }