$thread-prefix-cls: #{$cui-prefix}-thread-panel;
.#{$thread-prefix-cls}{
    top: 10px;
    left: 50%;
    width: 540px;
    z-index: 1060;
    position: fixed;
    background: $white;
    box-shadow: 0px 24px 36px 0px rgba(70, 78, 83, 0.15), 8px 0px 24px 0px rgba(23, 26, 28, 0.08);
    max-height: 770px;
    min-height: 416px;
    border-radius: 16px;
    background-color: $gray-98;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    transition: top 0.3s, left 0.3s, opacity 0.3s;
    transform-origin: 50% 50% 0;
    &-header{
        &-title{
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            color: $gray-1;
            &-input>input{
                background-color: $gray-95;
            }
        }
    }
    &-content{
        border-top: 1px solid $gray-95;
    }

    &-dark{
        background-color: $gray-1;
        color: $gray-98;

        .#{$thread-prefix-cls}-content{
            border-top: 1px solid $gray-2;
        }

        .#{$thread-prefix-cls}-header{
            &-title{
                color: $gray-98;
                &-input>input{
                    background-color: $gray-2;
                    color: $gray-98;
                }
            }
        }
    }
}