@import '../../../src/style/index.scss';

$status-prefix-cls: #{$cui-prefix}-message-status;

.#{$status-prefix-cls} {
    padding: 3px;
    &-icon{
        img{
            width: 20px;
        }
    }
    &-text{
        font-size: $font-size-sm;
        color: #ACB4B9;
    }
}