@import '~/common/style/index.scss';
$dropdown-prefix-cls: #{$cui-prefix}-dropdown;

.#{$dropdown-prefix-cls} {
  position: relative;
  cursor: pointer;
}

.#{$cui-prefix}-menu-wrap-mask {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.#{$cui-prefix}-menu-wrap {
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  padding: 4px;
  list-style-type: none;
  background-color: $white;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  transition: all;
  z-index: 9999;
  min-width: 140px;

  &>li {
    margin: 0;
    font-size: 14px;
    color: $gray-1;
    background-color: $white;

    &:hover {
      background-color: $gray-9;
    }

    &>button {
      width: 100%;
      height: 100%;
      text-align: left;

      background: none;
      color: inherit;
      border: none;
      padding: 5px;
      margin: 0;
      font: inherit;
      cursor: pointer;
    }
  }
}