@import '~/common/style/index.scss';
@import './emoji.scss';
@import './moreAction.scss';
@import './recorder.scss';
@import './textarea.scss';
@import './selectedControls.scss';

$editor-prefix-cls: #{$cui-prefix}-message-editor;
.#{$editor-prefix-cls}{
    display: flex;
    padding: $padding-s 0;
    align-items: flex-end;
    // overflow: hidden;
    position: relative;
    &-disabled{
        &::after{
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            opacity: .5;
            cursor: not-allowed;
            background-color: #fff;
        }
    }
    
    &-dark.#{$editor-prefix-cls}-disabled{
        &::after{
            opacity: .1;
        }
    }
}
