@import '~/common/style/index.scss';
$notice-msg-prefix-cls: #{$cui-prefix}-message-notice;
.#{$notice-msg-prefix-cls}{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 8px 24px;
    box-sizing: border-box;
    gap: 8px;
    color: $gray-7;
    span:nth-child(1){
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
    span:nth-child(2){
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
    }
}