.message-notice-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: $margin-xs 0;
    span{
        font-family: 'SF Pro';
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-sm;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        /* color_neutral/7 */
        color: $gray-7;
    }
}